body {
    background-image: url("pokedex-kuvat/pixelbackground.jpg");
    background-size: cover;
    image-rendering: pixelated;
}
.doto {
  font-family: "Doto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "ROND" 0;
}
p {
    font-family: "Doto", sans-serif;
}
h2, h3 {
    font-family: "Doto", sans-serif;
}

#pokeborderimg {
    border: 8px solid transparent;
    border-image: url("pokedex-kuvat/pokeborderimg.png") 90/ 30px 30px round;
    image-rendering: pixelated;
}
.pokelayout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px 50px 1fr 50px;
    grid-template-areas:
        "pokedex-header pokedex-header"
        "poke-name poke-right"
        "poke-preview poke-right"
        "poke-bottom poke-right";
    gap: 8px;
    background: transparent;
    width: 57%;
    height: 420px;
    margin: 70px auto;
    padding-bottom: 10px;
    font-family: "Doto", sans-serif;
}
.pokelayout > div.pokedex-header {
    grid-area: pokedex-header;
    text-align: center;
    background: #b32424;
    background: linear-gradient(0deg, rgba(179, 36, 36, 1) 35%, rgba(247, 35, 35, 1) 50%, rgba(255, 0, 0, 1) 66%);
    font-weight: 900;
    color: #eaeaea;
    text-shadow: 2px 2px black;
    margin-left: 10px;
    margin-right: 10px;
}
.pokelayout > div.poke-name {
    grid-area: poke-name;
    align-items: center;
    text-align: center;
    background: lightcoral;
    margin-left: 10px;
    font-weight: bold;
    color: black;
    text-shadow: 2px 2px gray;
}
.poke-link {
    color: inherit;
    text-decoration: none;
    cursor: grab;
    transition: color 0.2s;
}
.poke-link:hover {
    color: green;
    text-decoration: none;
}
.pokelayout > div.poke-preview {
    grid-area: poke-preview;
    align-items: center;
    margin-left: 10px;
    height: auto;
}
.pokelayout > div.poke-preview img {
    width: 200px;
    height: auto;
    display: block;
    image-rendering: pixelated;
    padding-right: 65px;
    padding-left: 65px;
    padding-top: 10px;
    position: relative;
    animation: pokemon-bounce 0.15s infinite alternate linear;
}
@keyframes pokemon-bounce {
    0% {
        top: 10px;
        transform: translate(0,0)
    }
    100% {
        top: -10px;
        transform: translate(0,0)
    }
}
.pokelayout > div.poke-type {
    grid-area: poke-bottom;
    align-items: center;
    text-align: center;
    font-weight: bold;
    background: lightpink;
    padding-left: 10px;
    margin-left: 10px;
    color: black;
    text-shadow: 2px 2px gray;
}
.pokelayout > div.poke-list {
    grid-area: poke-right;
    align-items: left;
    background: #eaeaea;
    text-align: left;
    overflow-y: scroll;
    margin-right: 10px;
    font-weight: bold;
    font-family: "Doto", sans-serif;
    display: flex;
    flex-direction: column;
    padding: 10px;
    color: black;
    text-shadow: 2px 2px gray;
}
.poke-show {
    padding: 5px 2px;
    border-radius: 10px;
    border: 2px solid #a72020;
    margin-bottom: 4px;
}
.poke-show.active{
    padding: 6px 4px;
    border-radius: 10px;
    border: 3px solid #a72020;
    margin-bottom: 4px;
    font-size: 20px;
    color: #a72020;
}
/* pokepages */
.pokelayout_page {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px 50px 1fr 100px;
    grid-template-areas:
        "pokedex-header pokedex-header"
        "poke-preview poke-right"
        "poke-preview poke-right"
        "poke-bottom poke-bottom";
    gap: 10px;
    border: 3px solid #a72020;
    background: #eaeaea;
    width: 57%;
    height: 420px;
    margin: 70px auto;
    padding-bottom: 10px;
}
.pokelayout_page > div.pokedex-header {
    grid-area: pokedex-header;
    text-align: center;
    background: #a2b8a2;
    font-weight: bold;
}
.pokelayout_page > div.mainpoke-preview {
    grid-area: poke-preview;
    background-color: #a2b8a2;
}
.pokelayout_page > div.poke-lore {
    grid-area: poke-bottom;
    background-color: #d0e6d0;
    align-items: center;
    text-align: center;
    padding-left: 10px;
    margin-left: 10px;
}
.pokelayout_page > div.poke-stats {
    grid-area: poke-right;
    background-color: #d0e6d0;
    align-items: left;
    text-align: left;
}