body {
    background-image: url("pokedex-kuvat/pixelbackground.jpg");
    background-size: cover;
    image-rendering: pixelated;
}
.doto {
  font-family: "Doto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "ROND" 0;
}
p {
    font-family: "Doto", sans-serif;
}
h2, h3 {
    font-family: "Doto", sans-serif;
}
#pokeborderimg {
    border: 8px solid transparent;
    border-image: url("pokedex-kuvat/pokeborderimg.png") 90/ 30px 30px round;
    image-rendering: pixelated;
}
.pokelayout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px 50px 1fr 50px;
    grid-template-areas:
        "pokedex-header pokedex-header"
        "poke-name poke-right"
        "poke-preview poke-right"
        "poke-bottom poke-right";
    gap: 8px;
    background: transparent;
    width: 57%;
    height: 420px;
    margin: 70px auto;
    padding-bottom: 10px;
}
.pokelayout > div.pokedex-header {
    grid-area: pokedex-header;
    text-align: center;
    background: #a2b8a2;
    font-weight: bold;
    margin-left: 10px;
    margin-right: 10px;
}
.pokelayout > div.poke-name {
    grid-area: poke-name;
    align-items: center;
    text-align: center;
    background: lightcoral;
    margin-left: 10px;
    font-weight: bold;
}
.pokelayout > div.poke-preview {
    grid-area: poke-preview;
    align-items: center;
    margin-left: 10px;
    height: 200px;
}
.pokelayout > div.poke-preview img {
    width: 60%;
    height: auto;
    display: block;
    image-rendering: pixelated;
}

.pokelayout > div.poke-type {
    grid-area: poke-bottom;
    align-items: center;
    text-align: center;
    background: lightpink;
    padding-left: 10px;
    margin-left: 10px;
}
.pokelayout > div.poke-list {
    grid-area: poke-right;
    align-items: left;
    background: lightgray;
    text-align: left;
    overflow-y: scroll;
    margin-right: 10px;
    font-weight: bold;
    font-family: "Doto", sans-serif;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.poke-show {
    padding: 5px 2px;
    border-radius: 10px;
}
.poke-show.active{
    padding: 6px 4px;
    border-radius: 10px;
    border: 3px solid #a72020;
    margin-bottom: 4px;
    font-size: 20px;
    color: #a72020;
}
/* pokepages */
.pokelayout_page {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px 50px 1fr 100px;
    grid-template-areas:
        "pokedex-header pokedex-header"
        "poke-preview poke-right"
        "poke-preview poke-right"
        "poke-bottom poke-bottom";
    gap: 10px;
    border: 3px solid #a72020;
    background: #eaeaea;
    width: 57%;
    height: 420px;
    margin: 70px auto;
    padding-bottom: 10px;
}
.pokelayout_page > div.pokedex-header {
    grid-area: pokedex-header;
    text-align: center;
    background: #a2b8a2;
    font-weight: bold;
}
.pokelayout_page > div.mainpoke-preview {
    grid-area: poke-preview;
    background-color: #a2b8a2;
}
.pokelayout_page > div.poke-lore {
    grid-area: poke-bottom;
    background-color: #d0e6d0;
    align-items: center;
    text-align: center;
    padding-left: 10px;
    margin-left: 10px;
}
.pokelayout_page > div.poke-stats {
    grid-area: poke-right;
    background-color: #d0e6d0;
    align-items: left;
    text-align: left;
}