:root{
    --primary-clr:#948cfc;
    --secondary-clr: #4f45e2; 
    --accent-clr: #d0ccff;  
    --neutral-clr: #f5f5f5;

}
body{
    margin: 0;
}
.header {
    display: flex;
    justify-content:space-between;
    margin: 10px;
    background-color: var(--primary-clr);
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.main-nav {
    display: flex;
    justify-content:left;
    align-items: center;
    background: transparent;
}


.nav-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    color: #000;
    padding: 7px 20px;
    cursor: pointer;
    transition: color 0.3s ease;
    text-decoration: none;
}

.nav-item i {
    font-size: 24px;
    margin-bottom: 5px;
    color: #000;
    transition: color 0.3s;
}
.nav-item:hover {
    color: #fff;
    
}
.nav-item:hover i {
     color: #fff;
}
.nav-item.active {
  background-color:var(--secondary-clr);
  color: white;
}
.nav-item.active i {
     color: #fff;
}
.sign-in{
  padding: 5px 15px;
  margin-top: 5px;
  position: relative;
}
.sign-in button{
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    transition: background-color 0.3s ease, transform 0.2s ease;
    background-color:var(--secondary-clr);
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    padding: 10px;
    border-radius: 10px;
    font-weight: 600;
}

.sign-in button i{
    margin-right: 5px;
}
.sign-in button:hover{
    background: var(--accent-clr);
    color: #000;
    transform: scale(1.1);
}
dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    background-color: white;
    z-index: 1000;
    text-align: center;
    width: 80%;
    max-width: 500px;
}


dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(2px);
  transition: background-color 0.5s ease, backdrop-filter 0.5s ease;
}
.popup__header {
  font-size: 1.5rem;
  line-height: 2.375rem;
  font-weight: 700;  

  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  margin-bottom: 10px;
}

.popup__header .close-btn {
  cursor: pointer;
  color: #ee2e24;
  font-size: 2rem;
}
.popup__header .close-btn:hover {
  color: var(--primary-clr);
}
.popup__header .title {
    color: #000;
}
.popup__description {
    font-size: 20px;
    color: #696969;
    margin: 0 0 1.25rem;
    font-weight: 700;
}
.popup__description>.link {
    cursor: pointer;
    font-weight: 700;
    color: #ee2e24;
    text-decoration: underline;
}




.form-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  align-items: center;
}

.form-group {
  position: relative;
  border: 1px solid #aaa;
  background: white;
  border-radius: 5px;
  width: 80%;
}

dialog input {
  width: 90%;
  padding: 12px 10px;
  font-size: 1rem;
  background: white;
  border: none;
  outline: none;
  box-shadow: none;


}

dialog label {
  position: absolute;
  top: 12px;
  left: 10px;
  background: white;
  color: #777;
  padding: 0 4px;
  transition: 0.3s ease;
  pointer-events: none;
}

dialog input:focus + label,
input:not(:placeholder-shown) + label {
  top: -8px;
  left: -8px;
  font-size: 0.8rem;
  color: #0078D4;
}
dialog input::placeholder {
  opacity: 0; 
  transition: opacity 0.3s ease;
}

dialog input:focus::placeholder {
  opacity: 1; 
}
.toggle-password {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #777;
  
}
.buttons{
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  padding: 5px 10px;
  width: 80%;
}
.buttons .button{
  width: 60%;
}
.buttons .button button {
    background-color: var(--secondary-clr);
    color: white;
    border: none;
    width: 100%;
    padding: 5px 10px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.5rem;
    transition: background-color 0.3s ease, transform 0.2s ease;
    font-weight: 400;
}

.buttons .button button:hover {
    background-color: var(--primary-clr);
    transform: scale(1.05); 
}
.account-icon {
  position: relative;
  display: inline-block;
  margin-right: 8px;
}

.account-icon .fa-user {
  font-size: 18px;
  color: #333;
}
.account-dialog button {
  margin: 8px 0;
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  background-color: #f44336;
  cursor: pointer;
  color: #fff;
}



.account-dialog {
  position: absolute;
  top: 100%;
  right: 0;
  margin-top: 10px;
  background-color: white;
  border: 1px solid #ccc;
  padding: 1rem;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  min-width: 300px;
  z-index: 1000;
}
.user-info{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}
.avatar-circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: var(--primary-clr);
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}
.hidden {
  display: none;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}





.container {
  position: relative;
  width: 1200px;
  min-height: 500px;
  margin: 0 auto;
  padding: 5px;
  color: #fff;
  display: flex;
  border-radius: 10px;
  background-color: var(--primary-clr);
}
.left {
  width: 60%;
  padding: 20px;
  
}
.calendar {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: rgba(247, 245, 245, 0.308);
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px rgba(31, 38, 135, 0.2);
  color: #fff;
 
}

.calendar .month{
  padding: 0 50px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.5rem;
  font-weight: 500;
  text-transform: capitalize;
}
.calendar .month .prev,
.calendar .month .next {
  cursor: pointer;
  font-size: x-large;
}
.calendar .month .prev:hover,
.calendar .month .next:hover {
  color: var(--primary-clr);
}
.calendar .weekdays {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: capitalize;
}
.weekdays div {
  width: 14.28%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calendar .days {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 20px;
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 20px;
}
.calendar .days .day {
  width: 14.28%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: var(--primary-clr);
  box-sizing: border-box;
  border: 1px solid #f5f5f5;
  color: #001dc2;
}

.calendar .days .day:not(.prev-date, .next-date):hover {
  color: #fff;
  background-color: var(--primary-clr);
}
.calendar .days .prev-date,
.calendar .days .next-date {
  color: #8491db;
}
.calendar .days .active {
  position: relative;
  font-size: 2rem;
  color: #fff;
  background-color: var(--primary-clr);
}
.calendar .days .active::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 10px 2px var(--primary-clr);
}
.calendar .days .today {
  font-size: 2rem;
}
.calendar .days .event {
  position: relative;
}
.calendar .days .event::after {
  content: "";
  position: absolute;
  bottom: 10%;
  left: 50%;
  width: 75%;
  height: 6px;
  border-radius: 30px;
  transform: translateX(-50%);
  background-color: var(--primary-clr);
}
.calendar .days .event:hover::after {
  background-color: #fff;
}
.calendar .days .active.event::after {
  background-color: #fff;
  bottom: 20%;
}
.calendar .days .active.event {
  padding-bottom: 10px;
}
.container .right {
  position: relative;
  width: 40%;
  min-height: 100%;
  padding: 20px;
}
.right .today-date {
  width: 100%;
  height: 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 20px;
  text-transform: capitalize;
}
.right .today-date .event-day {
  font-size: 2rem;
  font-weight: 500;
}
.right .today-date .event-date {
  font-size: 1.5rem;
  font-weight: 400;
  color: #6c6868;
}
.events {
  width: 100%;
  height: 100%;
  max-height: 600px;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  padding-left: 4px;
}
.events .event {
  position: relative;
  width: 95%;
  min-height: 70px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
  color: #fff;
  padding: 0px 10px;
  background: linear-gradient(90deg, #6589ff, transparent);
  cursor: pointer;
}
/* even event */
.events .event:nth-child(even) {
  background: transparent;
}
.events .event:hover {
  background: linear-gradient(90deg, #001dc2, transparent);
}
.events .event .title {
  display: flex;
  align-items: center;
  pointer-events: none;
}
.events .event .title .event-title {
  font-size: 1rem;
  font-weight: 400;
  margin-left: 20px;
}
.events .event i {
  color: #001dc2;
  font-size: 0.5rem;
}
.events .event:hover i {
  color: #fff;
}
.events .event .event-time {
  font-size: 0.8rem;
  font-weight: 400;
  color: #222224;
  margin-left: 15px;
  pointer-events: none;
}
.events .event:hover .event-time {
  color: #fff;
}
.events .event::after {
  content: "\2715";
  position: absolute;
  top: 50%;
  right: 0;
  font-size: 2rem;
  line-height: 1;
  display: none;
  align-items: center;
  justify-content: center;
  opacity: 0.7;
  color: #fff;
  transform: translateY(-50%);
}
.events .event:hover::after {
  display: flex;
}
.events .no-event {
  width: 100%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: 600;
  color: #1d1d1e;
}
.add-event-wrapper {
  position: absolute;
  bottom: 100px;
  left: 50%;
  width: 90%;
  max-height: 0;
  overflow: hidden;
  border-radius: 5px;
  background-color: #fff;
  transform: translateX(-50%);
  transition: max-height 0.5s ease;
}
.add-event-wrapper.active {
  max-height: 400px;
}
.add-event-header {
  width: 90%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  color: #373c4f;
  border-bottom: 1px solid #f5f5f5;
}
.add-event-header .close {
  font-size: 1.5rem;
  cursor: pointer;
  color: red;
}
.add-event-header .close:hover {
  color: var(--primary-clr);
}
.add-event-header .title {
  font-size: 1.2rem;
  font-weight: 500;
}
.add-event-body {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 20px;
}
.add-event-body .add-event-input {
  width: 100%;
  margin-bottom: 15px; /* Lisää tilaa kenttien väliin */
  display: flex;
  flex-direction: column; /* Aseta label ja input päällekkäin */
}

.add-event-body .add-event-input label {
  font-size: 0.9rem;
  font-weight: 500;
  color: #555;
  margin-bottom: 5px;
}

.add-event-body .add-event-input input {
  width: 100%;
  height: 40px;
  outline: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0 10px;
  font-size: 1rem;
  font-weight: 400;
  color: #373c4f;
  transition: border-color 0.3s ease;
}

.add-event-body .add-event-input input:focus {
  border-color: #0078d4; /* Korostusväri fokuksessa */
}


.add-event-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.add-event-footer .add-event-btn {
  height: 40px;
  font-size: 1rem;
  font-weight: 500;
  outline: none;
  border: none;
  color: #fff;
  background-color: var(--primary-clr);
  border-radius: 5px;
  cursor: pointer;
  padding: 5px 10px;
  border: 1px solid var(--primary-clr);
}
.add-event-footer .add-event-btn:hover {
  background-color: transparent;
  color: var(--primary-clr);
}
.event-date-visible {
  color: black;
  font-size: 16px;
  border: 1px solid #ccc;
  padding: 5px;
}
.add-event {
  position: absolute;
  bottom: 30px;
  right: 30px;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  color: #ffffff;
  border: 2px solid #ffffff;
  opacity: 0.7;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
}
.add-event:hover {
  opacity: 1;
}
.add-event i {
  pointer-events: none;
}