.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-Tarrabox {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 36px;
    width: 60%;
    height: 260px;
    border: 1px solid #b9d3e9;
    margin: 16px auto 0 auto;
    background-color: #b9d3e9;
    border-radius: 6px;
    padding: 10px;
}

.Teksti-Tarra{
    text-align: center;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     color: #e1e8e9;
    
    
}
.flex-tarra-items {
    flex: 1 ;
    margin: 10px;
    padding: 16px;
    background-color: #fff;
    border: 1px solid #ffffff;
    border-radius: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
.Tarra-haku {
    margin: 20px 0;
    text-align: center;
    border: none;
    outline: none;
    width: 2;
    border: 2px solid #958b8b;
    border-radius: 8px;
    background-color: rgb(164, 155, 155);
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.Tarrabutton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 20px 0;
}
.Tarrabutton button {
    background: linear-gradient(90deg, #4f8ef7 0%, #b9d3e9 100%);
    color: #fff;
    border: none;
    border-radius: 2px;
    padding: 12px 32px;
    font-size: 1rem;
    font-weight:550;
    cursor: pointer;
    box-shadow: 0 4px 14px rgba(79, 142, 247, 0.15);
    transition: background 0.3s, transform 0.3s, box-shadow 0.3s;
}
.Tarrabutton button:hover {
    background: linear-gradient(90deg, #b9d3e9);
    transform: translate(-2px) scale(1.05);
    box-shadow: 6px 20px rgba(30, 200, 220, 0.20);
}
.Tarra-kuva {
    flex: auto 1;
    max-width: 100%;
    height: auto;
    width: 100px;
    border-radius: 10%;
    max-width: 100%;
}
.Tarra-kuva:hover{
     transform: scale(1.15);
    transition: transform 0.35s; 
}
input[type=text] {
  width: 130px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.5s ease-in-out;
  transition: width 0.5s ease-in-out;
}

input[type=text]:focus {
  width: 100%;
}
.flex-tarrabox-lisää {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(7, 1fr);
    gap: 36px;
    width: 65%;
    height: auto;
    border: 1px solid #b9d3e9;
    margin: 16px auto 0 auto;
    background-color: #b9d3e9;
    border-radius: 6px;
    padding: 10px;
    margin-bottom: 16px;
    
}

.Animation-t {
    position: absolute;
    top: 10px;
    right: 10px;
    margin-top: 210px;
    margin-right: 260px;
    max-width: 70px;
    display: flex;
    animation: gengar-move 2.5s, linear infinite alternate;
    
}
.Animation-t:hover{
    transform: scale(1.3);
    transition: transform 0.4s; 
    
}
.Tarrabackground {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    background: #b9d3e9;
}

@keyframes gengar-move {
    0% {
        top: 10px;
        right: 10px;
        transform: translate(0, 0);
    }
    25% {
        top: -100px;
        right: 10px;
        transform: translate(0, 0);
    }
    50% {
        top: -95px;
        right: 10px;
        transform: translate(0, 0);
    }
    75% {
        top: 10px;
        right: 10px;
        transform: translate(0, 0);
    }
    100% {
        top: 10px;
        right: 10px;
        transform: translate(0, 0);
    }
}
